.container{
    background-image: url('./Image/pexels-olly-3760067.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;  
    background-attachment: fixed;  
    min-height:70dvh;
   
}
.heading{
    font-size: 62px;
    font-weight: bold;
    color: white;

}
.subContainer{
    background-color: rgba(0, 0, 0, 0.589);
    min-height: 70dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
}
@media screen and (max-width:1000px){
    .heading{
        font-size: 52px;
    }
    .container{
        height: 100dvh;

    }
    .subContainer{
        height: 100dvh;
    }
}