.button{
    padding:0.5rem 3.5rem;
    margin:2rem auto;
    border:none;
    border-radius: 2rem;
    color: white;
    background-color: #36b4d3;
}
.button:hover{
    box-shadow: 0 0 2px white;
}
.container h{
   
    color: white;
    font-weight: bolder;
    font-size: 32px;
}
.container{
    margin: auto;
}