.container{
    
    background-image: url('./../../../images/pexels-marta-siedlecka-146156-586570.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   color:white;
   font-weight: bold;
}
.subContainer{
    background-color: rgba(0, 0, 0, 0.349);
    display: flex;
    justify-content: space-evenly;
    border:none;
    padding:2rem;
    flex-wrap: wrap;
}
@media screen and (max-width:1000px) {
    .subContainer{
        padding:5rem 0;
        overflow-x: hidden;
        align-items: baseline;
    }   
}