.container{
    padding: 5rem;
}
.imgContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.color{
    color:#36b4d3;
}
.image{
    max-width:30rem;
    max-height:15rem;
    border-radius: 2rem;
    margin-right: 2rem;
}
.container h{
  font-weight: bold;
  font-size: 32px;
}
.container p{
    text-align: justify;
}
.linkContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    text-decoration: none;
    color:#36b4d3;
    font-weight: bold;
    font-size: 22px;
}
.passageContainer {
    text-align: left;
}
.passageContainer h{
    margin-bottom: 1rem;
}
@media screen and (max-width:1000px) {
    .container{
        padding:3rem 5dvw;
    }
    .image{
        border-radius: 5px;
       margin:1rem auto;
       max-width: 80dvw;
       max-height: 40dvh;
    }
    .imgContainer{
        flex-wrap: wrap;
    }
    .container p{
        text-align: start;
    }
    .imageContainer{
        border:none;
        width:100dvw;
    }
    .passageContainer{
        text-align: center;
    }
}