.container{
    padding:3rem 1rem;
    background-color: #c5c5c5c5;
    display: flex;
    flex-wrap: wrap;
}
.subContainer{
    max-width: 25rem;
    cursor: pointer;
    margin:1rem
}
.img{
    width: 160px;
    height: 90px;
}
.title{
    margin-top: 1rem;
    color:#36b4d3;
    font-weight: bold;
    font-size: 32px;
}
.description{
    text-align:justify;
}